@charset "utf-8";
/* CSS Document */

* {
    font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: black;
    box-sizing: border-box;
    list-style-position: inside;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.full,
.row {
    margin: 0 auto;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}

@media (min-width: 960px) {
    .row {
        width: 960px;
    }
    .col-1  {
        width: 8.33%;
    }
    .col-2  {
        width: 16.66%;
    }
    .col-3  {
        width: 25%;
    }
    .col-4  {
        width: 33.33%;
    }
    .col-5  {
        width: 41.66%;
    }
    .col-6  {
        width: 50%;
    }
    .col-7  {
        width: 58.33%;
    }
    .col-8  {
        width: 66.66%;
    }
    .col-9  {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}

#topo{
	width: 100%;
	background: #02252a;

}

#hello{
	width: 100%;
	background: #02252a;
	padding: 20px 20px;

}

#hello>h2{
	position: relative;
}

#topo>h1{
	padding-top: 30px;
	color: #fff;
}

#hello>h2, p, small{
	color: #fff;
}

#hello>p{
	position: relative;
}

#hello>small{
	position: absolute;
	display: flex;
	width: 350px;
}

#superior{
	float: right;
	padding-right: 80px;
	padding-top: 35px;
	margin-right: 10px;
}

.menu_sup{
	justify-content:space-between;
	display: flex;
	list-style: none;
}

.menu_sup a{
	padding: 15px;
	text-transform:uppercase;
	text-decoration: none;
	color: #188f95;
}

.menu_sup a:hover{
	color: #fff;
	background-color: #19c2c9;
}

#banner{
	position: relative;
	width: 500px;
	height: 200px;
	display:flex;
	left: 400px;
	background: #fff;
}

.linha{
	height:2px;
	width: 50%;
	opacity: 0.5;
	color: #fff;
	margin-top:	0px;
	margin-bottom: 0px;
}
